<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <test name="TestExecution.java" parallel="methods" thread-count="2" >
        <classes>
            <class name="com.qapitol.test.TestExecution">
                <methods>
                    <include name="searchContext"/>
                    <include name="searchContext1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>